.contact-edit {
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 10px;
    // background-color: rgb(249, 197, 101);

    span {
        width: 100%;

        input {
            width: 100%;
            color: $clr1;
        }
    }

    @media (min-width: $break-narrow) {
        span {
            width: 50%;
        }
    }

    button {
        margin-top: 10px;
        justify-self: center;
    }
}

.login-signup-link{
    color: $clr1;
    text-decoration: underline;
}

.edit-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 20px auto;

    a {
        align-self: flex-start;
        position: relative;
        top: 30px;
        right: 30px;
    }

    @media (min-width: $break-narrow) {
        a {
            right: 0;
        }
    }

    .edit-back-btn {
        background-color: transparent;
        border: none;
        color: $clr1;
        font-size: 18px;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (min-width: $break-narrow) {
    .edit-header {
        width: 50%;
    }
}

