.contact-preview {
    max-height: 280px;
    min-width: 80%;
    margin: 15px;

    &:hover .actions {
        opacity: 100;
        cursor: pointer;
    }

    &:hover .picture::before {
        height: 100%;
    }

    &:hover .picture img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
    }

    &:hover .social {
        bottom: 0;
    }

    button:hover {
        cursor: pointer;
    }
}

@media (min-width: $break-narrow) {
    .contact-preview {
        min-width: 185px;
    }
}

.actions {
    position: relative;
    bottom: 55px;
    // left: 28px;
    opacity: 0;
    transition: 1s;
    display: flex;
    justify-content: space-around;

    button {
        background-color: transparent;
        border: none;
        border-radius: 7px;
        padding: 3px;
        transition: .3s;

        &:hover {
            background-color: $clr2;
        }
    }
}

.our-team {
    border-radius: 25px;
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}